.first{
    font-family: 'Courier New', Courier, monospace;
}


nav{
    background-color: rgb(119, 15, 15);
    width: 100%;
    height: 100px;
    text-align: left;
    font-size: 22px;
    line-height: 100px;
    
}

div{
    background-color: blueviolet;
    width: 300px;
    height: 400px;
    
}